@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset básico */

/* Box-sizing border-box para todos os elementos */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos padrão para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Remover decoração de lista */
ul, ol {
    list-style: none;
}

/* Remover margens padrão de parágrafos */
p {
    margin: 0;
}

/* Remover sublinhado padrão de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilo padrão para imagens */
img {
    max-width: 100%;
    height: auto;
}

/* Remover estilo de botão padrão */
button, input[type="button"], input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Remover contorno padrão ao focar */
:focus {
    outline: none;
}


* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
}


.login-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner {
    position: relative;
   
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
    position: absolute;
    top: 0;
    left: 0;

}

img { 
    image-orientation: left;
    display: block;
    justify-content: left;
    align-items: left;
    color: white;
    text-align: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}

.circle {
    top: 36px;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid #ffff;
    /* Define a borda branca */
    border-radius: 50%;
    z-index: 1;
    /* Garante que o círculo esteja acima da imagem */
    transition: transform 0.7s ease, border-color 0.7s ease;
}

.circle:hover {
    transform: translateY(-1px);
    /* Move o círculo um pouco para cima */
    border-color: #1dc1ef;
    /* Muda a cor da borda */
}

.left-circle {
    /* Ajuste a posição conforme necessário */
    left: 56px;
    /* Ajuste a posição conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-solid {
    color: #ffff;
}

.right-circle {
    
    /* Ajuste a posição conforme necessário */
    right: 56px;
    /* Ajuste a posição conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-regular {
    color: #ffff;
}



.highlight {
    display: inline-block;
    background-color: #0761E2;
    /* Cor azul */
    color: white;
    /* Cor do texto */
    padding: 5px 12px;
    font-weight: 400;
    /* Espaçamento interno */
    border-radius: 15px;
    /* Bordas arredondadas */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    font-size: 16px;
    /* Tamanho da fonte */
    box-shadow: 0 2px 4px #0000008e;
    text-align: center;
    cursor: pointer;
    
}



.carousel-indicator {
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;

}

.indicator {
    width: 105px;
    height: 4px;
    background-color: #222222;
    margin-right: 16px;
    border-radius: 2px;
}

.indicator.active {
    background-color: white;
}

.chevron {
    top: 241px;
    right: 64px;
    position: absolute;
   
}

.fa-chevron-right {
    margin-left: 16px;
}


.banner .banner-text {
    position: absolute;
    text-align: left;
    max-width: 100%;
    padding: 0px 56px;
    /* Distância do texto à esquerda */
    bottom: 140px;
    /* Distância do texto ao fundo */
    color: white;
    z-index: 1;

}

.banner .banner-text h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0px;
}

.banner .banner-text p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #909090;
}

.login-container {
    position: relative;
    padding: 24px;
    display: flex;
    /* Alterado para alinhar os itens à esquerda */
    align-items: center;
    background-color: #fafafa;
    width: 692px;
    
}


.login-container img,
.login-container h2 {
    position: absolute;
    top: 24px;
    /* Alinhe ao topo do login-container */
    left: 24px;
    /* Alinhe à esquerda do login-container */
    margin: 10px;
    /* Adicione margem para separar os elementos */
}

.login-card {
    background: white;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    text-align: left;
    /* Alinhado para a esquerda */
}

.logo-toolz {
    display: flex;
    align-items: center; 
    padding: 24px 0px;
    
    
}

.logo-toolz img {
    width: 32px;
    /* Define a largura da imagem */
    height: 32px;
    margin-left: 41px;
    top: 24px;
    right: 24px;
    
}

.logo-toolz h2 {
    top: 24px;
    right: 24px;
    font-size: 1.5em;
    padding-top: 3px;
    padding-left: 75px;

}


.small-reg {
    font-size: 0.5em;
    vertical-align: super;
}

.create-an-account {
    color: #007bff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    position: absolute;
    right: 48px;
    top: 38px;
    text-shadow: 0 2px 4px #00000061;
    cursor: pointer;
    transition: color 0.7s ease;
}

.create-an-account:hover {
    color: #1dc1ef;
}


.welcome {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px 0px 0px;
    text-shadow: 0 2px 4px #00000061;
    
}

.login-card h3 {
    font-size: 32px;
    font-weight: 600;
    
}

.welcome p {
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 2px;
    color: #585858;


}

.social-login {
    display: flex;
    width: 516.6px;
    justify-content: space-between;
    padding: 24px 0px 16px 0px;
}

.social-login button {
    margin: 0 5px;
    border: 1px solid #151515;
    border-radius: 8px;
    height: 43px;
    width: 137px;
    background-color: white;
    transition: transform 0.7s ease, border-color 0.7s ease;
    cursor: pointer;
}

.social-login button:hover {
    transform: translateY(-1px);
    border-color: #1dc1ef;
}

.social-login img {
    position: initial;
    margin: auto;
    
    
}

.social-login .tz img {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    border-radius: 50%;
}

.social-login .facebook img {
    width: 34px;
    height: 41px;
}

.social-login .apple img {
    width: 30px;
    height: 41px;
}

.social-login .twitter img {
    width: 34px;
    height: 41px;
}

.or-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
}

.or-text .line {
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1); /* Cor preta com 10% de opacidade */
    margin: 0 10px; /* Espaço ao redor do texto */
    max-width: 217px; /* Largura máxima da linha */
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-user,
.input-password {
    position: relative;
    width: 100%;
}

.input-user i,
.input-password i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #585858;

}

.input-user input, .input-password input {
    width: 95%;
    padding: 10px 10px 10px 30px; /* Padding left ajustado para espaço do ícone */
    border: 1px solid #ccc;
    border-radius: 5px;
   
}


form label {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

form label p {
    padding: 6px 0px;
}

form input[type="text"],
form input[type="password"] {
    border: 1px solid #6A6A6A;
    border-radius: 5px;
    transition: transform 0.7s ease, border-color 0.7s ease, box-shadow 0.7s ease;
    outline: none;
    cursor: pointer;
}

form input[type="text"]:hover ,
form input[type="password"]:hover {
    border-color: #1dc1ef;
    box-shadow: 0 0 5px rgba(29, 193, 239, 0.5);
    
}



.checkbox-label {
    display: inline-block;
    padding: 10px 0px 0px 0px;
}

.checkbox-label span {
    font-size: 14px;
    font-weight: 500;
}



form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #6A6A6A;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hcaptcha-box {
    width: 345px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    
}

.hcaptcha-left {
    display: flex;
    align-items: center;
}

.hcaptcha-checkbox {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    margin-right: 10px;
}

.hcaptcha-label {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.hcaptcha-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hcaptcha-right img {
    position: initial;
    width: 32px;
    height: 38px;
}

.hcaptcha-terms {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
    
}


form button {
    font-family: 'Inter', sans-serif;
    width: 516.6px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px #0000008e;
}

form button i {
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto */
}

form button:hover {
    background-color: hsl(211, 100%, 60%);
}

.recaptcha {
    margin-bottom: 20px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    
}

.forget {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585858;
}

.forget span {
    padding: 0px 3px 0px 0px;
    
}

a:hover {
    text-decoration: underline;
}