@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variáveis para cores */

:root {
    --cor-primaria: #007bff; 
    --cor-secundaria: #6A6A6A;
    --cor-destaque: #1dc1ef;
    --cor-fundo: #f9f9f9;
    --cor-borda: #6A6A6A;
    --cor-texto: #585858;
}

/* dark-mode.css */

body.dark-mode {
    --cor-fundo: #232323;
    --cor-texto: #ccc;
    color: #ededed;
}

.dark-mode .right-circle {
    background-color: #fff;
}

.dark-mode .fa-regular {
    color: #000;
        
}

.dark-mode .logo-toolz h2 {
    color: #fff;
}

.dark-mode .login-card h3 {
    color: #ededed;
}

.dark-mode .or-text .line {
    background-color: #393939;
}

.dark-mode .or-text {
    color: #909090;
}

.dark-mode .social-login button {
    border-color: #fff; /* Remove a borda dos botões no modo escuro */
}

.dark-mode .social-login .tz img {
    content: url('icons/icon-tz-white.png'); /* Troca para o ícone branco */
    border: transparent;
}

.dark-mode .social-login .facebook img {
    content: url('icons/icon-facebook-white.png'); /* Troca para o ícone branco */
}

.dark-mode .social-login .apple img {
    content: url('icons/icon-apple-white.png'); /* Troca para o ícone branco */
}

.dark-mode .social-login .twitter img {
    content: url('icons/icon-twitter-white.png'); /* Troca para o ícone branco */
}

.dark-mode .input-user i,
.input-password i {
    color: #909090;
}

body.dark-mode .input-user input, 
body.dark-mode .input-password input {
    background-color: #232323;
    color: var(--cor-texto);
    border-color: #909090;
}

.dark-mode .hcaptcha-box {
    background-color: white;
    color: #555555;
}




/*Fim das Variáveis para cores*/

/* Variáveis para fontes */

:root {
    --fonte-principal: 'Inter', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

/*Fim das Variáveis para fontes*/


* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte-principal);
    display: flex;
    min-height: 100vh;
    background-color: var(--cor-fundo);
}


.login-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner {
    position: relative;
   
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
    position: absolute;
    top: 0;
    left: 0;

}

img { 
    image-orientation: left;
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}

.circle {
    top: 36px;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.7s ease, border-color 0.7s ease;
}

.circle:hover {
    transform: translateY(-1px);
    border-color: var(--cor-destaque);
}

.left-circle {
    left: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-solid {
    color: #fff;
}

.right-circle {
    right: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fa-regular {
    color: #fff;
    
}



.highlight {
    display: inline-block;
    background-color: #0761E2;
    color: white;
    padding: 5px 12px;
    font-weight: 400;
    /* Espaçamento interno */
    border-radius: 15px;
    /* Bordas arredondadas */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    font-size: 16px;
    /* Tamanho da fonte */
    box-shadow: 0 2px 4px #0000008e;
    text-align: center;
    cursor: pointer;
    
}



.carousel-indicator {
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;

}

.indicator {
    width: 105px;
    height: 4px;
    background-color: #222222;
    margin-right: 16px;
    border-radius: 2px;
}

.indicator.active {
    background-color: #fff;
}

.chevron {
    top: 241px;
    right: 64px;
    position: absolute;
   
}

.fa-chevron-right {
    margin-left: 16px;
}


.banner .banner-text {
    position: absolute;
    text-align: left;
    max-width: 100%;
    padding: 0px 56px;
    /* Distância do texto à esquerda */
    bottom: 140px;
    /* Distância do texto ao fundo */
    color: white;
    z-index: 1;

}

.banner .banner-text h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0px;
}

.banner .banner-text p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #909090;
}

.login-container {
    position: relative;
    padding: 24px;
    display: flex;
    /* Alterado para alinhar os itens à esquerda */
    align-items: center;
    background-color: var(--cor-fundo);
    width: 692px;
    
}


.login-container img,
.login-container h2 {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 10px;
}

.login-card {
    background: var(--cor-fundo);
    padding: 40px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.logo-toolz {
    display: flex;
    align-items: center; 
    padding: 24px 0px;
    
    
}

.logo-toolz img {
    
    width: 32px;
    height: 32px;
    margin-left: 41px;
    top: 24px;
    right: 24px;
    
}

.logo-toolz h2 {
    top: 24px;
    right: 24px;
    font-size: 1.5em;
    padding-top: 3px;
    padding-left: 75px;

}


.small-reg {
    font-size: 0.5em;
    vertical-align: super;
}

.create-an-account {
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    position: absolute;
    right: 48px;
    top: 38px;
    text-shadow: 0 2px 4px #00000031;
    cursor: pointer;
    transition: color 0.7s ease;
}

.create-an-account:hover {
    color: var(--cor-destaque);
}


.welcome {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px 0px 0px;
    text-shadow: 0 2px 4px #0000002c;
    
}

.login-card h3 {
    font-size: 32px;
    font-weight: 600;
    
}

.welcome p {
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 2px;
    color: var(--cor-texto);


}

.social-login {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 16px 0px;
    width: 516.6px;
}

.social-login button {
    margin: 0 5px;
    border: 1px solid #151515;
    border-radius: 8px;
    height: 43px;
    width: 137px;
    background-color: var(--cor-fundo);
    transition: transform 0.7s ease, border-color 0.7s ease;
    cursor: pointer;
}

.social-login button:hover {
    transform: translateY(-1px);
    border-color: var(--cor-destaque);
}

.social-login img {
    position: initial;
    margin: auto;
    
}

.social-login .tz img {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    border-radius: 50%;
}

.social-login .facebook img {
    width: 34px;
    height: 41px;
}

.social-login .apple img {
    width: 30px;
    height: 41px;
}

.social-login .twitter img {
    width: 34px;
    height: 41px;
}

.or-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 10px 0px;
}

.or-text .line {
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1); 
    margin: 0 10px;
    max-width: 217px; 
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-user,
.input-password {
    position: relative;
    width: 100%;
}

.input-user i,
.input-password i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--cor-texto);

}

.input-user input, .input-password input {
    width: 95%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}


form label {
    font-size: 16px;
    font-weight: 400;
    flex-direction: column;
    text-align: left;
    
}

form label p {
    padding: 6px 0px;
}

form input[type="text"],
form input[type="password"] {
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    transition: transform 0.7s ease, border-color 0.7s ease, box-shadow 0.7s ease;
    outline: none;
    cursor: pointer;
}

form input[type="text"]:hover ,
form input[type="password"]:hover {
    border-color: var(--cor-destaque);
    box-shadow: 0 0 5px rgba(29, 193, 239, 0.5);
    
}


.custom-checkbox {
    display: inline-block;
    padding: 10px 0px 0px 0px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox input + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid #6a6a6a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    margin-bottom: 3px;
    cursor: pointer;
}


.custom-checkbox input:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg height='18px' width='18px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' fill='%23ffffff' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D %3C/style%3E%3Cg%3E%3Cpolygon class='st0' points='440.469,73.413 218.357,295.525 71.531,148.709 0,220.229 146.826,367.055 218.357,438.587 289.878,367.055 512,144.945 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #007bff;
}


label .custom-checkbox {
    font-size: 14px;
    font-weight: 500;
}


form input[type="checkbox"] {
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid var(--cor-borda);
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hcaptcha-box {
    width: 345px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    
    
}

.hcaptcha-left {
    display: flex;
    align-items: center;
}


.hcaptcha-checkbox  {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    margin-right: 10px;
    
}


.hcaptcha-label {
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    font-weight: 400;
}

.hcaptcha-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hcaptcha-right img {
    position: initial;
    width: 32px;
    height: 38px;
}

.hcaptcha-terms {
    font-family: var(--fonte-secundaria);
    font-size: 10px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
    
}

form button {
    font-family: var(--fonte-principal);
    width: 516.6px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: none;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px #00000063;
}

form button i {
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto */
}

form button:hover {
    background-color: hsl(211, 100%, 60%);
}

.recaptcha {
    margin-bottom: 20px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-primaria);
    text-decoration: none;
    
}

.forget {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
}

.forget span {
    padding: 0px 3px 0px 0px;
    
}

a:hover {
    text-decoration: underline;
}